
div
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.triangle
{
    border-left:  50px solid transparent;
    border-right: 50px solid transparent;
    width: 0;
}
.first
{
    border-bottom: 100px solid red;
    position: absolute;
    z-index: 99;
   
}

.second
{
   border-bottom: 100px solid green;
   position: absolute;
   z-index: 50;
   top:50px;
}

.third
{
    border-bottom: 100px solid blue;
    position: absolute;
    z-index: 10;
    top: 110px;
}